*{
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    form{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    textarea{
        resize: none;
        width: 250px;
        height: 150px;
    }
}
